#include "Resource.h"
#include <windows.h>

IDD_DIALOG_MOD1 DIALOGEX 0, 0, 388, 232
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
DEFPUSHBUTTON   "OK", IDOK, 28, 173, 72, 32
PUSHBUTTON      "Cancel", IDCANCEL, 276, 177, 70, 33
LISTBOX         IDC_LIST_GROUPS, 137, 15, 96, 146, LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
END